.customBorder {
  border-color: #9966FF; /* Replace with your desired color */
  border-style: solid; /* Replace with desired border style (e.g., dashed, dotted, etc.) */
  border-width: 1px; /* Replace with desired border width */
}
/*
  .text-center {
    text-align: center;
  }
  
  .row {
    margin-top: 20px;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .mt-3 {
    margin-top: 15px;
  }
  
  @media only screen and (min-width: 768px) {
    .col-md-4 {
      flex: 0 0 33.3333%;
      max-width: 33.3333%;
    }
  }*/